/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color:#F0F0F0;
}

.Photo{
    width: 450px;
    /* margin: 40px; */
    margin-right: auto;
}

.fort{
    text-align: left;
}
li,a,button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: 16px;
    color: hsl(231, 65%, 61%);
    text-decoration: none; 
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    height: 80px;
    width: 100%;
}


label.logo {
    color: hsl(231, 65%, 61%);
    font-size: 35px;
    line-height: 80px;
    cursor: pointer;
    padding-left: 33px;
    font-weight: bold;
    /* margin-right: auto; TO HAVE TO SHIFT NAV IN RIGHT  */
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: hsl(231, 65%, 61%);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}


.nav__links li a:hover{
    color:hsl(231, 65%, 61%);
}
button{
    padding: 9px 25px;
    background-color: hsl(231, 65%, 61%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: hsl(231, 65%, 61%);
}

.checkbtn{
    font-size: 30px;
    color:hsl(231, 65%, 61%);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#check{
    display: none;

}
/* @media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;

    }

    nav ul li a {
        font-size: 16px;
    }
} */

@media (max-width: 858px){
    .checkbtn{
        display: block;

    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background-color: #5b6edc;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 0px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:hsl(231, 65%, 61%);
    }

    #check:checked ~ ul {
        left: 0;

    }
    .info__container{
        flex-direction: column;
    }
    .contact__container{
        flex-direction: column;    
}
}


p{
   row-gap: 5rem; 
   font-size: 35px;
}

.info__container{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.info{
    padding-top: 150px;
    margin-bottom: 20px;
} 

.social__handle{
    margin: 10px;
    margin-top: 50px;
}

/* Contanct */
.contact__heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.contact__text{
    /* margin:px; */
}
.contact__container{
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

.other__text{
    color: #5b6edc;
    margin: 40px;
}



/* about*/
.about__heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about__container {
    margin: 70px;
    margin-right: 100px;
    margin-left: 100px;
    border: 5px solid;
    border-radius:5px;
}

.achmt__heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.achmt__container{
    text-align: left;
    margin: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



   

    